html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-bar {
  background-color: #3B0077;
  color: white;
  padding: .5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar h1 {
  font-family: Myanmar Text;
  font-size: .9em;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  line-height: 10px;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar span {
  -webkit-transition: color .3s, font-size .3s;
  transition: color .3s, font-size .3s;
}

.nav-bar span:hover {
  cursor: pointer;
  color: #9343E4;
  font-size: 2em;
}

.nav-links {
  width: 40%;
}

.hero {
  height: 100%;
  overflow: hidden;
}

.hero .large-container {
  background-color: #420084;
  height: 80vh;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 0px 5px 0px black;
          box-shadow: 1px 0px 5px 0px black;
}

.hero .large-container svg {
  margin-right: -7vh;
  width: 68vh;
  margin-bottom: -29vh;
}

.hero .large-container .diamond {
  display: none;
}

.hero .large-container .large-container-text .main-header {
  color: white;
  font-family: Myanmar Text;
  font-size: 4em;
  line-height: 65px;
  font-weight: bold;
  width: 4em;
}

.hero .large-container .large-container-text .sub-header {
  color: white;
  font-family: Myanmar Text;
  font-size: 1.5em;
}

.minimalist-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 2em;
}

.minimalist-section .section-tag {
  color: #9343E4;
  font-family: Myanmar Text;
  font-weight: bold;
  font-size: 1.5em;
}

.minimalist-section header {
  font-family: Myanmar Text;
  font-weight: bold;
  font-size: 2em;
}

.minimalist-section svg {
  width: 90%;
  height: auto;
  margin-bottom: 3em;
}

.minimalist-section .section-data {
  font-family: Myanmar Text;
  line-height: 1.3em;
  font-weight: 400;
}

#projects {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background-container {
  background-color: #420084;
  -webkit-box-shadow: 1px 0px 5px 0px black;
          box-shadow: 1px 0px 5px 0px black;
  margin: 6em 0;
}

.background-container header {
  color: white;
  font-family: Myanmar Text;
  font-size: 2em;
  font-weight: bold;
  margin-left: .5em;
  padding-top: .5em;
}

.background-container .projects-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-container .project-panel {
  grid-area: project;
  background-color: white;
  width: 30%;
  height: 65vh;
  margin: 0 1em;
  min-width: 18em;
  max-width: 21em;
  border-radius: 30px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background-container .project-panel .written {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container .project-panel .written .project-header {
  background-color: #9343E4;
  border-radius: 30px 30px 0 0;
  width: 60%;
  padding: .8em;
  color: white;
  font-family: Myanmar Text;
  font-weight: bold;
  text-align: center;
}

.background-container .project-panel .written .project-description {
  background-color: rgba(0, 128, 255, 0.24);
  height: 30vh;
  border-radius: 30px 30px 0 0;
}

.background-container .project-panel .written .project-description .content {
  padding: 2em;
}

.background-container .pin-panel-container {
  padding: 3em 0;
}

.background-container .pin-panel-container .left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 20px;
  padding: .5em;
}

.background-container .pin-panel-container .right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 20px;
  padding: .5em;
}

.background-container .pin-panel-container .pin-panel {
  margin-left: 1em;
  margin-top: 1em;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container .pin-panel-container .pin-panel .pin-panel-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #420084;
}

.background-container .pin-panel-container .pin-panel .pin-panel-text {
  display: inline;
  font-family: Myanmar Text;
  font-weight: bold;
  padding: auto;
}

.skill-set {
  margin: 3em 0em;
}

.skill-set .skill-panel {
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-set .skill-panel .written {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  grid-template: 'tag' 'header' 'description';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-set .skill-panel .written .skill-tag {
  grid-area: tag;
  color: #9343E4;
  font-family: Myanmar Text;
  font-weight: bold;
  font-size: 1.5em;
}

.skill-set .skill-panel .written header {
  grid-area: header;
  font-size: 2em;
  font-family: Myanmar Text;
  font-weight: bold;
}

.skill-set .skill-panel .written .skill-description {
  grid-area: description;
  font-family: Myanmar Text;
  line-height: 1.3em;
  font-weight: 400;
}

.skill-set .skill-panel .illustration {
  min-height: 16em;
  background-color: rgba(110, 0, 220, 0.16);
  border-radius: 0 0 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-set .skill-panel .illustration svg {
  width: 90%;
  height: auto;
  margin: 1em;
}

#leadership {
  background-color: #420084;
  position: relative;
}

#leadership .leadership-background {
  position: absolute;
  display: none;
}

#leadership .leadership-background svg {
  opacity: .3;
  width: 75vw;
  height: 91vh;
  -webkit-transform: translate(5%, 0%);
          transform: translate(5%, 0%);
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em 0;
}

.resume .text {
  font-family: Myanmar Text;
  margin-bottom: 1em;
  font-size: 2em;
}

.resume .resume-btn {
  font-family: Myanmar Text;
  background-color: #9343E4;
  color: white;
  padding: .3em 2em;
  border-radius: 50px;
  font-weight: bold;
  margin: auto;
  font-size: 1.4em;
}

footer {
  background-color: #420084;
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact {
  display: -ms-grid;
  display: grid;
  grid-template: 'name email' 'body body' 'send send';
  margin: 5vw;
}

footer #name {
  grid-area: name;
}

footer #email {
  grid-area: email;
}

footer #body {
  grid-area: body;
  height: 18vh;
  border-radius: 20px;
}

footer .text-input {
  border-radius: 50px;
  margin: .5em .5em;
  padding: auto;
}

footer .text-input::-webkit-input-placeholder {
  text-align: center;
  margin: auto;
  vertical-align: center;
  line-height: 27px;
}

footer .text-input:-ms-input-placeholder {
  text-align: center;
  margin: auto;
  vertical-align: center;
  line-height: 27px;
}

footer .text-input::-ms-input-placeholder {
  text-align: center;
  margin: auto;
  vertical-align: center;
  line-height: 27px;
}

footer .text-input::placeholder {
  text-align: center;
  margin: auto;
  vertical-align: center;
  line-height: 27px;
}

footer .send {
  grid-area: send;
  font-family: Myanmar Text;
  background-color: #9343E4;
  color: white;
  padding: .3em 2em;
  border-radius: 50px;
  font-weight: bold;
  margin: auto;
  margin-top: 0.5em;
}

footer .socials {
  color: white;
  margin: 5vw;
}

footer .socials header {
  font-family: Myanmar Text;
  font-weight: bold;
  font-size: 2em;
}

footer .socials ul li {
  font-family: Myanmar Text;
}

@media (min-width: 800px) {
  .diamond {
    display: inline !important;
  }
  .large-container-text {
    margin-left: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact {
    width: 60vh;
  }
  .main-header {
    font-size: 6em !important;
    line-height: 94px !important;
  }
  .nav-header {
    font-size: 30px !important;
    margin-left: 8vw;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .minimalist-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
  }
  .minimalist-section .illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .minimalist-section .written {
    margin-left: 5.5vw;
    width: 50%;
  }
  .minimalist-section .written .section-tag {
    font-size: 31 !important;
    margin-bottom: -.3em;
  }
  .minimalist-section .written .section-header {
    font-size: 41 !important;
    margin-bottom: 1em;
  }
  .minimalist-section .written .section-data {
    font-size: 20 !important;
    line-height: 2em;
  }
  .skill-set {
    padding: 3em;
  }
  .skill-set .panel-right {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  .skill-set .panel-right .illustration {
    border-radius: 30px 0px 0px 30px !important;
  }
  .skill-set .panel-left .illustration {
    border-radius: 0 30px 30px 0px !important;
  }
  .skill-set .skill-panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70vh;
  }
  .skill-set .skill-panel .written {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 2.5em;
  }
  .skill-set .skill-panel .written .skill-tag {
    margin-bottom: -.5em;
  }
  .skill-set .skill-panel .written header {
    margin-bottom: .5em;
  }
  .skill-set .skill-panel .written .skill-description {
    font-size: 1.1em;
    line-height: 1.5em;
    width: 29vw;
  }
  .skill-set .skill-panel .illustration {
    width: 50%;
  }
  .skill-set .skill-panel .illustration svg {
    width: 80%;
  }
  #leadership {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0em 3em;
    height: 90vh;
  }
  #leadership .leadership-background {
    display: inline !important;
  }
  .background-container header {
    margin-left: 8vw;
  }
  .background-container .pin-panel-container {
    width: 25em;
  }
  .background-container .pin-panel-container .pin-panel {
    margin-top: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .background-container .pin-panel-container .pin-panel .pin-panel-text {
    font-size: 1.5em;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .skill-panel {
    margin: 0 2em;
  }
  #leadership .leadership-background svg {
    width: 102vw;
    height: 100vh;
    -webkit-transform: translate(5%, 0%);
    transform: translate(-7%, 16%);
  }
  #projects {
    height: 78vh;
  }
  #projects .project-panel {
    height: 57vh;
  }
}
/*# sourceMappingURL=index.css.map */