$primary: #420084;
$secondary:#3B0077;
$tag-color:#9343E4;
$panel-shadow:1px 0px 5px 0px black;
$section-header-size:2em;
$illustration-background:rgba(110, 0, 220, .16);
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding:0;
    
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
}

.nav-bar{
    background-color: $secondary;
    
    color:white;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: Myanmar Text;
        font-size: .9em;
        font-weight: bold;
        vertical-align: center;
        text-align: center;
        line-height: 10px;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    span{
        transition: color .3s, font-size .3s;
    }
    span:hover{
        cursor: pointer;
        color:$tag-color;
        font-size: 2em;
        
    }
    
}
.nav-links{
    width: 40%;
}
.hero{
    height: 100%;
    overflow: hidden;
    .large-container{
        background-color: $primary;
        height: 80vh;
        padding:.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        box-shadow:  $panel-shadow;

        svg{
            margin-right: -7vh;
            width: 68vh;
            margin-bottom: -29vh;
        }
        .diamond{
            display:none;
        }
    
        .large-container-text{
            .main-header{
                color:white;
                font-family: Myanmar Text;
                font-size: 4em;
                line-height: 65px;
                font-weight: bold;
                width:4em;
            }
        
            .sub-header{
                color:white;
                font-family: Myanmar Text;
                font-size: 1.5em;
            }
        }
    
        
    }
}

.minimalist-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em;

    .section-tag{
        color:$tag-color;
        font-family: Myanmar Text;
        font-weight: bold;
        font-size: 1.5em;;
    }

    header{
        font-family: Myanmar Text;
        font-weight: bold;
        font-size: $section-header-size;
    }

    svg{
        width: 90%;
        height: auto;
        margin-bottom: 3em;
    }

    .section-data{
        
        font-family: Myanmar Text;
        line-height: 1.3em;
        font-weight: 400;
    }
}

#projects{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-container{
    background-color: $primary;
    box-shadow:  $panel-shadow;
    margin: 6em 0;

    header{
        color:white;
        font-family:Myanmar Text;
        font-size:$section-header-size;
        font-weight: bold;
        margin-left:.5em;
        padding-top:.5em;
    }

    .projects-panel{
        display: flex; 
        justify-content: center;
          
    }

    .project-panel{
        grid-area:project;
        background-color:white;
        width:30%;
        height:65vh;
        margin: 0 1em;
        min-width: 18em;
        max-width: 21em;
        border-radius: 30px 30px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .project-icon{

        }

        .written{
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 50%;
            align-items: center;
            .project-header{
                    background-color: $tag-color;
                    border-radius: 30px 30px 0 0;
                    width:60%;
                    padding: .8em;
                    color:white;
                    font-family: Myanmar Text;
                    font-weight: bold;
                    text-align: center;
            }
    
            .project-description{
                background-color: rgba(0, 128, 255,.24);
                height: 30vh;
                border-radius: 30px 30px 0 0;
                .content{
                    padding:2em;
                }
            }
        }
        

        
    }

    .pin-panel-container{
        padding: 3em 0;

        .left{
            flex-direction: row;
            padding-right: 20px;
            padding:.5em;
        }

        .right{
            flex-direction: row-reverse;
            padding-left: 20px;
            padding:.5em;

        }

        .pin-panel{
            margin-left:1em;
            margin-top:1em;
            background-color: white;
            border-radius: 30px;
            
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            
            .pin-panel-circle{
                
                border-radius: 50%;
                width:40px;
                height: 40px;
                background-color: $primary;
            }
            .pin-panel-text{
                display: inline;
                
                font-family: Myanmar Text;
                font-weight: bold;
                padding:auto;
    
            }
        }
    }

}

.skill-set{
    margin: 3em 0em;


    .skill-panel{
        box-shadow: 0px 1px 3px black;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        

        .written{
            padding:1em;
            display: grid;
            grid-template: 'tag' 'header' 'description';

            display: flex;
            flex-direction: column;

            .skill-tag{
                grid-area: tag;
                color:$tag-color;
                font-family: Myanmar Text;
                font-weight:bold;
                font-size: 1.5em;
            }
            header{
                grid-area: header;
                font-size: 2em;
                font-family: Myanmar Text;
                font-weight: bold;
    
            }
            
            .skill-description{
                grid-area:description;
                
                font-family: Myanmar Text;
                line-height: 1.3em;
                font-weight: 400;
    
            }
        }

        .illustration{
            min-height: 16em;
            background-color: $illustration-background;
            border-radius: 0 0 30px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{

                width:90%;
                height:auto;
                margin:1em;
            }
        }

    }
}

#leadership{
    background-color: $primary;
    position: relative;
    .leadership-background{
        position: absolute;
        display: none;
        
        svg{
            
            opacity: .3;
            width: 75vw;
            height: 91vh;
            transform: translate(5%, 0%);
        }
    }
}

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
    .text{
        font-family: Myanmar Text;
        margin-bottom: 1em;
        font-size: 2em;
    }
    .resume-btn{

        font-family: Myanmar Text;
        background-color: $tag-color;
        color:white;
        padding:.3em 2em;
        border-radius: 50px;
        font-weight: bold;
        margin:auto;
        font-size: 1.4em;
    }
}

footer{
    background-color: $primary;
    padding:2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contact{
        display: grid;
        grid-template: 'name email'
        'body body'
        'send send';
        margin:5vw;
    }
    #name{
        grid-area: name;
    }
    #email{
        grid-area: email;

    }
    #body{
        grid-area: body;
        height:18vh;
        border-radius: 20px;
    }
    .text-input{
        border-radius: 50px;
        margin:.5em .5em;
        padding:auto;
    }
    .text-input::placeholder{
        text-align: center;
        margin:auto;
        vertical-align: center;
        line-height: 27px;
    }
    .send{
        grid-area: send;
        font-family: Myanmar Text;
        background-color: $tag-color;
        color:white;
        padding:.3em 2em;
        border-radius: 50px;
        font-weight: bold;
        margin:auto;
        margin-top:0.5em;

    }

    .socials{
        color:white;
        margin: 5vw;
        header{
            font-family: Myanmar Text;
            font-weight: bold;
            font-size: 2em;
        }

        ul{
            li{
                font-family: Myanmar Text;
            }
        }
    }
}

@media (min-width:800px){
    .diamond{
        display:inline!important;
    }

    .large-container-text{
        margin-left: 8vw;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
    }

    .contact{
        width: 60vh;
    }

    .main-header{
        font-size: 6em !important;
        line-height: 94px !important;
    }

    .nav-header{
        font-size: 30px!important;
        margin-left:8vw;
    }
    
    footer{
        flex-direction: row-reverse;
    }

    .minimalist-section{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 80vh;
        overflow: hidden;
        .illustration{
            display: flex;
            justify-content: flex-end;
            width:50%;
        }
        .written{
            margin-left: 5.5vw;
            width:50%;
            .section-tag{
                font-size: 31 !important;
                margin-bottom: -.3em;;
            }
            .section-header{
                font-size: 41 !important;
                margin-bottom: 1em;
            }
            .section-data{
                font-size: 20 !important;
                line-height: 2em;
            }

        }
    }
    .skill-set{
        padding: 3em;
        .panel-right{
            flex-direction: row-reverse !important;
            .illustration{
                border-radius: 30px 0px 0px 30px !important;
            }

        }
        .panel-left{
            .illustration{
                border-radius: 0 30px 30px 0px !important;
            }
            
        }
        .skill-panel{
            flex-direction: row;
            justify-content: space-between;
            height: 70vh;
            .written{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 2.5em;;

                .skill-tag{
                    margin-bottom: -.5em;
                }

                header{
                    margin-bottom: .5em;;
                }
                .skill-description{
                    font-size: 1.1em;
                    line-height: 1.5em;
                    width: 29vw;
                }
            }

            .illustration{
                
                width:50%;

                svg{
                    width:80%
                }
            }

            
        }
        
    }

    #leadership{
        display: flex;
        justify-content: space-between;
        padding:0em 3em;
        height: 90vh;
        .leadership-background{
            display: inline !important;
        }
        
    }

    .background-container{

        header{
            margin-left: 8vw;
        }
        .pin-panel-container{
            width:25em;

            .pin-panel{
                margin-top: 3em;
                justify-content: space-between;

                .pin-panel-text{
                    font-size: 1.5em;
                    margin:0;
                   
                }
            }
        }

    }
}

@media(max-width:800px){
    .skill-panel{
        margin: 0 2em;
    }

    #leadership{
        .leadership-background{
            
            svg{
                width: 102vw;
                height: 100vh;
                -webkit-transform: translate(5%, 0%);
                transform: translate(-7%, 16%);
            }
        }
    }

    #projects{
        height:78vh;

        .project-panel{
            height: 57vh;
        }
    }
}

.swiper-container {
    width: 100%;
  }

